{% extends "mysports/base.html" %}
{% load static %}


<html>
  <head>

  </head>
  <body>
  {%block body%}
	<div style="display:none">
		<input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
	</div>
	<h2>transaction failed, Please try again</h2>

    <script src="{% static '/mysports/cart.js' %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% static '/mysports/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/mysports/bootstrap/js/bootstrap.min.js' %}"</script>

	{% endblock %}
	</body>

</html>